<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理員登錄頁面</title>
    <link rel="stylesheet" href="/luck/static/css/login.min.css">
</head>

<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"
                id="alert">登錄頁面</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">賬號</label>
                        <input id="user" type="text" class="input" value="zhiti">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">密碼</label>
                        <input id="pass" type="password" class="input" data-type="password" value="planttitle@412...">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> 7天內自動登錄</label>
                    </div>
                    <div class="group">
                        <input id="loginbtn" data-loginState="0" type="submit" class="button" value="登  錄">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/luck/static/js/login.min.js">
    </script>
</body>

</html>